html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#main-content {
  overflow: none;
  white-space: nowrap;
  display: grid;
  grid-template-rows: 40% 60%; /* configured by settings */
  grid-template-columns: 40% 60%; /* settings / (100 - settings) รท small */
  height: 100%;
  margin: 0;
  padding: 0;
}
#slack-only-body,
#slack-channel-and-body,
#trello-headerless,
#twitter-nobanner,
#normal,
.terminal {
  height: 100%;
}
.max-button {
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
  height: 2.3%;
  position: absolute;
  z-index: 2;
  width: auto;
  padding: 0;
  background: none;
  border: 0;
  font-size: 0;
  line-height: 0;
  overflow: visible;
  cursor: pointer;
}
.fa-rotate-135 {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.tool-buttons {
  display: inline-block;
  margin-left: 8px;
  width: 100%;
  height: 0%;
  position: absolute;
  bottom: 30px;
  z-index: 1;
}
.large {
  grid-row: 1 / 100; /* large enough */
  grid-column: 1 / 2;
}
.medium {
  grid-row: 1 / 2;
  grid-column: 3 / 100; /* large enough */
}
.small {
  grid-row: 3 / 100;
}
.overlay {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 98%;
  height: 98%;
  background: white;
  border-color: #666;
  border-style: solid;
  z-index: 2;
  box-shadow: 0px 0px 6px 3px #888;
  border-radius: 5px;
}
.overlay-message {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #aaa;
  font-size: 24px;
  font-style: italic;
}
#dragbar-vertical {
  grid-row: 1 / 100; /* large enough */
  grid-column: 2 / 3;
  position: relative;
  background-color: #aaa;
  height: 100%;
  width: 4px;
  cursor: col-resize;
}
.dragbar-vertical-small {
  grid-row: 3 / 100; /* large enough */
  position: relative;
  background-color: #aaa;
  height: 100%;
  width: 4px;
  cursor: col-resize;
}
#dragbar-horizontal {
  grid-row: 2 / 3;
  grid-column: 3 / 100;
  position: relative;
  background-color: #aaa;
  width: 100%;
  height: 4px;
  cursor: row-resize;
}
#ghostbar-vertical {
  width: 2px;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  cursor: col-resize;
}
#ghostbar-horizontal {
  height: 2px;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  cursor: row-resize;
}
.fold-large {
  position: absolute;
  top: 0%;
  left: -4px;
  height: 100%;
  background: none;
  z-index: 1;
  color: black;
}
