<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>okadash - preferences</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="preference.css" />
  </head>

  <body>
    <div id="app" class="wrapper">
      <Preference />
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
      integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
      integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
      crossorigin="anonymous"
    ></script>
    <!-- 開発バージョンビルド -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Preference Component Template -->
    <script type="text/x-template" id="preference">
      <div class="wrapper">
        <dialog id="input-dialog" style="display: none;">
          <form method="dialog">
            <input id="input" onfocus="this.setSelectionRange(0, this.value.length)" style="width: 180px; margin-bottom: 20px;"
              value="Enter Board Name" autofocus /><br />
            <button type="submit" class="btn btn-outline-primary" value="ok">OK</button>
            <button type="submit" class="btn btn-outline-secondary" value="cancel">Cancel</button>
          </form>
        </dialog>

        <!-- Sidebar  -->
        <nav id="sidebar" style="position: fixed;">
          <ul class="list-unstyled components">
            <p style="font-size: 24px;">Board List</p>
            <ul id="boards-container">
              <li
              v-for="(board, i) in definedBoardList" 
              :class="selectBoardIndex === i ? 'active': ''"
              @click="selectBoardIndex = i"
              >
              {{board.name}}
            </li>
            </ul>
          </ul>
          <div style="text-align: center">
            <button class="add-board-btn" @click="openFileAndSave">+</button>
          </div>

          <ul class="list-unstyled CTAs">
            <li>
              <a href="#" id="save-btn" class="btn btn-primary" @click.prevent="saveBoardSetting">Save Board Setting</a>
            </li>
            <li>
              <a href="#" class="article" @click="windowClose()">Close</a>
            </li>
          </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
          <label id="board-name-textbox">{{tmpBoard.name}}</label>
          <div v-if="tmpBoard">
            <ul>
              <li v-for="(content, inedx) in tmpBoard.contents">
                <div class="item-box">
                  <p>Name</p>
                  <input type="text" v-model="content.name">
                  <p>URL</p>
                  <input type="text" v-model="content.url">
                  <p>Zoom</p>
                  <input type="text" v-model="content.zoom" placeholder="1.0">
                  <p>Custom CSS</p>
                  <textarea name="" id="" cols="30" rows="10" v-model="content.customCSS" />
                  <button class="btn btn-outline-danger" @click="removeItem(indx)">
                    Delete item [{{ contents.name }]}
                  </button>
                </div>
              </li>
            </ul>
          </div>

          </br>
          <button class="btn btn-outline-primary" onclick="exportDefinedBoard()">Export this board (definition)</button>
          <button class="btn btn-outline-primary" onclick="exportUsingBoard()">Export this board (as you use)</button>
          <button class="btn btn-outline-danger" onclick="deleteBoard()">Delete this board</button>
          </br></br>
          <p>Item List</p>
          <ul>
            <div id="items-container"></div>
          </ul>
        </div>
      </div>
    </script>
    <script src="preference.js"></script>
  </body>
</html>
