html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
dialog {
  width: 200px;
  height: 50px;
  text-align: center;
  border: solid 1px #aaa;
  border-radius: 5px;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
#main-content {
  overflow: none;
  white-space: nowrap;
  display: grid;
  grid-template-rows: 40% 60%; /* configured by settings */
  grid-template-columns: 40% 60%; /* settings / (100 - settings) ÷ small */
  height: 100%;
  margin: 0;
  padding: 0;
}
#slack-only-body,
#slack-channel-and-body,
#trello-headerless,
#twitter-nobanner,
.reload-button {
  display: inline-block;
  margin-top: 5px;
  height: 2.3%;
  position: absolute;
  z-index: 2;
  padding: 0;
  background: none;
  border: 0;
  width: auto;
  line-height: 0;
  overflow: visible;
  cursor: pointer;
}
.max-button {
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
  height: 2.3%;
  position: absolute;
  z-index: 2;
  width: auto;
  padding: 0;
  background: none;
  border: 0;
  line-height: 0;
  overflow: visible;
  cursor: pointer;
}

.search-box {
  display: none;
  margin-top: 5px;
  height: 20px;
  position: absolute;
  z-index: 3;
  font-size: 1em;
}
.search-box.visible {
  display: inline-block;
}
.search-box .search-input {
  width: 100%;
  border: 1px solid;
}
.search-box .search-count {
  display: none;
}

.fa-rotate-135 {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.tool-buttons {
  display: inline-block;
  margin-left: 8px;
  width: 100%;
  height: 0%;
  position: absolute;
  bottom: 30px;
  z-index: 1;
}
.large {
  grid-row: 1 / 100; /* large enough */
  grid-column: 1 / 2;
}
.medium {
  grid-row: 1 / 2;
  grid-column: 3 / 100; /* large enough */
}
.small {
  grid-row: 3 / 100;
}
.overlay {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 98%;
  height: 98%;
  background: white;
  border-color: #666;
  border-style: solid;
  z-index: 3;
  box-shadow: 0px 0px 6px 3px #888;
  border-radius: 5px;
}
.overlay-message {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #aaa;
  font-size: 24px;
  font-style: italic;
}
#dragbar-vertical {
  grid-row: 1 / 100; /* large enough */
  grid-column: 2 / 3;
  position: relative;
  background-color: #aaa;
  height: 100%;
  width: 4px;
  cursor: col-resize;
}
.dragbar-vertical-small {
  grid-row: 3 / 100; /* large enough */
  position: relative;
  background-color: #aaa;
  height: 100%;
  width: 4px;
  cursor: col-resize;
}
#dragbar-horizontal {
  grid-row: 2 / 3;
  grid-column: 3 / 100;
  position: relative;
  background-color: #aaa;
  width: 100%;
  height: 4px;
  cursor: row-resize;
}
#ghostbar-vertical {
  width: 2px;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  cursor: col-resize;
}
#ghostbar-horizontal {
  height: 2px;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  cursor: row-resize;
}
.fold-large {
  position: absolute;
  top: 0%;
  right: -4px;
  height: 100%;
  background: none;
  z-index: 1;
  color: black;
}
#alert-icon {
  display: none;
  position: absolute;
  top: 30px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}
#alert-icon > a {
  color: orange;
}
